extends ./fullpage.jade

block title
  if pagination.num == 1
    | Astral Frontier
  else
    = "Blog Posts page " + pagination.num

block main
  h1 Astral Frontier Blog
  div.container
    div.row
      div.col-md-12
        for post in pagination.files
          h4
            i.hidden-xs.fa(class="fa-#{post.icon || 'file-text-o'}") &nbsp;
            i.visible-xs-inline-block.pull-right.fa(class="fa-#{post.icon || 'file-text-o'}") &nbsp;
            a(href="/"+post.path)= post.title
            small.hidden-xs &nbsp;- #{post.date.toDateString()}
          div.blog-post-summary!= post.less
    include ./pagination.jade
