extends ./sidebar-right.jade

block main
  h1= title
  p
    small Posted on #{date.toDateString()}
    if tagged
      = " -- "
      for tag in (tagged || [])
        a(href="/tag/" + tag + ".html")= tag
        = " "
  != contents
  if next || previous
    div
      hr
      if next
        div.pull-left
          a.btn.btn-primary(href="/"+next.path) &laquo; #{next.title}
      if previous
        div.pull-right
          a.btn.btn-primary(href="/"+previous.path) #{previous.title} &raquo;

block sidebar
  h2 Recent posts
  ul
    for post in collections.blog.slice(0, 10)
      li
        a(href="/"+post.path)= post.title
        br/
        small Posted on #{post.date.toDateString()}
  h2 All tags
  div(style="text-align: justify;")
    for tag in Object.keys(tags).sort()
      a(href="/tag/" + tags[tag].urlSafe + ".html")= tag
      | &nbsp;
