extends ./sidebar-right.jade

block main
  h1= title
  p
    small Posted on #{date.toDateString()}
    if tagged
      = " -- "
      for tag in (tagged || [])
        a(href="/tag/" + tag + ".html")= tag
        = " "
  != contents
  if next || previous
    ul.pager
      if next
        li.previous
          a(href="/"+next.path)
            span(aria-hidden="true") &larr;
            | #{next.title}
      if previous
        li.next
          a(href="/"+previous.path)
            | #{previous.title}
            span(aria-hidden="true") &rarr;

block sidebar
  h2 Recent posts
  ul
    for post in collections.blog.slice(0, 10)
      li
        a(href="/"+post.path)= post.title
        br/
        small Posted on #{post.date.toDateString()}
  h2 All tags
  div(style="text-align: justify;")
    for tag in Object.keys(tags).sort()
      a(href="/tag/" + tags[tag].urlSafe + ".html")= tag
      | &nbsp;
