extends ./sidebar-right.jade

block main
  h1= title
  h4
    small= synopsis
  != contents

block sidebar
  if images
    for image in images
      p &nbsp;
      a(href=image)
        img.img-responsive.og-image(src=image)
  if links
    h4 Links
    ul
    for link in links
      li
        a(href=link.url)= link.name
    p &nbsp;
