extends ./fullpage.jade

block title
  = "Posts tagged '" + tag + "'"

block main
  h1= "Posts tagged '" + tag + "'"
  div.container
    div.row
      div.col-md-12
        for post in pagination.files
          h4
            i.hidden-xs.fa(class="fa-#{post.icon || 'file-text-o'}") &nbsp;
            i.visible-xs-inline-block.pull-right.fa(class="fa-#{post.icon || 'file-text-o'}") &nbsp;
            a(href="/"+post.path)= post.title
          div.blog-post-summary!= post.less
    include ./pagination.jade
