extends ./basic.jade

block contents
  include ./nav.jade
  if yaml_contents.hero
    div.jumbotron
      div.container
        h1= yaml_contents.hero.name
        if yaml_contents.hero.desc
          p!= yaml_contents.hero.desc
        if yaml_contents.hero.url
          a.btn.btn-primary.btn-lg(role="button" href=yaml_contents.hero.url)
            if yaml_contents.hero.pdf
              i.fa.fa-file-pdf-o
              | &nbsp;
            | Read more &raquo;
  div.container
    div.row
      for column in yaml_contents.columns
        div(class="col-md-#{column.width}")
          for entry in column.entries
            if entry.url
              a(href=entry.url)
                h2= entry.name
            else
              h2= entry.name
            if entry.desc
              p!= entry.desc
            if entry.bullets
              ul
                for bullet in entry.bullets
                  li
                    if bullet.url
                      a(href=bullet.url)= bullet.name
                    else
                      strong= bullet.name
                    if bullet.desc
                      br/
                      small!= bullet.desc
