<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <%- body %>
        <%- js('js/jquery-3.2.1.min.js') %>
        <%- js('js/semantic.min.js') %>
        <%- js('js/layout.js') %>
    </body>
</html>
