<%- partial('_partial/semantic-header', {title: page.title, summary: page.excerpt}) %>
<%- partial('_partial/semantic-main-menu') %>
<div class="ui text container">
    <%- partial('_partial/semantic-article', {article: page, content: page.content.replace(page.excerpt, '')}) %>
    <%- partial('_partial/disqus') %>
</div>
<%- partial('_partial/semantic-footer') %>